<!DOCTYPE html>
<html>
<head>
	<title>Registrations</title>
	<h1>The Registration Display</h1>
</head>
<body>
    <form action="reg_numbers" method="POST">
	<div class="container">
		<div class="input&btn">
			<p class="eg">e.g. CA 12345 <span>|</span> CJ 987-888 <span>|</span> CL 812</p>
			<input id="regInput" class="regString" name="input" placeholder="enter registration here">
			<button class="btn" id="displayBtn" type="submit">Add</button>
		</div>
		<div>
			<select class="select">
				<option value="default">Select Town</option>
				<option value="CA" name="opt">Cape Town</option>
				<option value="CL" name="opt">Stellenbosch</option>
				<option value="CJ" name="opt">Paarl</option>
				<option value="all" name="opt">Show All</option>
			</select>
		</div>
		<ul>
            {{#each reg}}

             <li id="regDisplay" class="color">{{this.reg}}</li>

             {{/each}}
        </ul>
        </form>
	</div>

</body>

</html>